/* Le code CSS de la démo */
header {
    background-color: rgba(7, 59, 76, 1);
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    text-transform: uppercase;
}

nav > ul > li a {
    padding: 1em;
    color: white;
}